.burger{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.burger-header{
  flex: 0 0 150px;
  width: 100%;
  max-height: 150px;
}
.burger-main{
  flex: 1 0 auto;
}
.burger-footer{
  flex: 0 0 80px;
  width: 100%;
  max-height: 80px;
}
