.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: inherit;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-color: inherit;
  border: 1px solid transparent;
  outline: none;
  box-shadow: none;
  appearance: button;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button:focus {
  outline: 0;
}
