body.fontLoaded {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
html,body{
  height: 100%;
  min-height: 100%;
}
body{
  color: #424242
}
#app{
  height: 100%;
  min-height: 100%;
  background-color: red;
}
